
 .AboutMe{
    z-index: 2;
     position: relative;
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-image: linear-gradient(to bottom right,hsla(214, 97%, 42%, 0.308),hsla(175, 98%, 40%, 0.445));
    border-radius: 50px 5px 50px 5px;
    padding: 50px;
    color: rgb(255, 255, 255);
    width: 50%;
    margin: 0 auto;
}


.AboutMe ul{
    font-family: "Century Gothic";
    z-index: 2;
    list-style: none;
    text-align:left;
    font-size: 18px;
    line-height: 24px;
    /* font-family: 'Karla'; Karla|Nunito|Rubik|Work+Sans */
}
.AboutMe  ul li{
    margin-top: 10px;
}
.AboutMe a {
    text-decoration: none;
    color: rgb(98, 232, 255);
}
.AboutMe  ul li span{
    position: absolute;
    z-index: 2;
    margin: 0 10px 0 -40px;
    transform: translate(0,-5px);
}
.AboutMe  ul li i{
    color: goldenrod;
    font-weight: 600;
}