.Project1{
    text-align: left;
    width: 500px;
}

.Project1 article {
    background: rgb(26, 26, 26);
    padding: 20px;
}
.Project1 article b {
    color: #008cff
}
.Project1 h2{
  margin-top: 0; 
}
.Project1 a{
    text-decoration: none;
    color: rgb(255, 208, 0);
}

.Project1 img {
    display: block;
    object-fit: fill;
    margin: 0 auto;
  }
.Article{
    position: relative;
}
.Article h2{
    margin-top: 20px;
    margin-bottom: 50px;
}
.TryIt{
    position: absolute;
    right: 20px;
    top: 20px; 
    cursor: pointer;
    border: 1px solid #ccc9c9;
    color: #ccc9c9;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}
.TryIt span{
    transition: all 0.3s ease-in-out;
    color: #ccc9c9;
}
.TryIt:hover span{
    color: #ffffff;
}
.TryIt img{
    height: 30px;
}
.TryIt:hover{
    border: 1px solid #ffffff;
}

@media(max-width:500px){
    .Project1{
        width: 100%;
    }  
    .TryIt{
        border: none;
    }
    .TryIt span{
        display: none;
    }
    .Article h2{
        margin-top: 10px;
        margin-bottom: 20px;
    }
}