.Project1{
    text-align: left;
    width: 500px;
}
.Project1 article {
    background: rgb(27, 27, 27);
    padding: 20px;
}
.Project1 article b {
    color: rgb(0, 231, 193);
}
.Project1 h2{
  margin-top: 0; 
}
.Project1 a{
    text-decoration: none;
    color: darkseagreen;
}
.Project1 img {
    display: block;
    object-fit: fill;
    margin: 0 auto;
  }

  .TryIt{
    float: right;
    cursor: pointer;
}
.TryIt span{
   visibility: hidden;
   opacity: 0;
   transition: all 0.5s ease-in-out;
}
.TryIt img{
    height: 30px;
}
.TryIt:hover span{
    opacity: 1;
    visibility: visible;
}