.Project1{
    text-align: left;
    width: 500px;
}
.Project1 article {
    background: rgba(26, 26, 26, 0.534);
    padding: 20px;
}
.Project1 article b {
    color: rgb(0, 231, 193);
}
.Project1 h2{
  margin-top: 0; 
}
.Project1 a{
    text-decoration: none;
    color: darkseagreen;
}
.Project1 img {
    display: block;
    object-fit: fill;
    margin: 0 auto;
  }