
.Branch{
    display: inline-block;
    position: relative; 
    z-index: 0;
}

.BranchButtonTop{
    position: absolute;
    z-index: 10;
    right: -13px;
    top: 13px;
}
.BranchButtonBottom{
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: -2px;
}