.GitMyCareer{
    position: relative;
    height: 600px;
    background: linear-gradient(to bottom, #1e3c72, #2a5298); 
    color: honeydew;
    padding: 20px 40px 40px 20px;
}

.GitSvm{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 0;
    width: 200px;
}


@media(max-width:740px){
    .GitSvm{
        width: 150px;
    }  
}

@media(max-width:640px){
    .GitSvm{
        width: 100px;
    }  
}