.Graph{
    margin: 20px auto;
    width: calc(50% - 30px);
    float: left;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.267);
}

.Handle{
    cursor: move;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 50px 100px;
    box-shadow: 0 0 26px 5px rgba(0, 0, 0, 0.205);
    touch-action: none;
    user-select: none;
}
