.Portfolio{
    position: relative;
    height: 600px;
    background: linear-gradient(135deg, rgba(70,183,217,1) 0%, rgba(189,133,49,1) 67%, rgba(189,154,49,1) 100%);
    color: honeydew;
    padding: 20px;
}
.Portfolio h1{
    margin-bottom: 50px;
}
.Projects{

    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
}
.Project{
    position: relative;
    width: 300px;
    height: 300px;
}

.Img, .Window{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.Img{
    z-index: 0;
    width: 300px;
    height: 300px;
}
.Window{
    background-color: #000000a8;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    color: honeydew;
    text-align: left;
    padding: 10px 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
}

.Window:hover{
    opacity: 1;
}
/* 
.blur {
    box-shadow: 0 0 10px 0.1px;
    width: 300px;
    height: 350px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border-radius: 6px;
    overflow: hidden;
  }

  .blur:after {
    content: "";
    height: 350px;
    width: 300px;
    display: block;
    background: url(http://lorempixel.com/500/500) center no-repeat;
    -webkit-filter: blur(5px);
    opacity: 0.6;
  } */
  