.MyCareer{
    position: relative;
    background: linear-gradient(to bottom, #1e3c72, #2a5298); 
    color: honeydew;
    padding: 20px 20px;
    height: auto;
    display: grid;
    grid-template-columns: 54% 45%;
    grid-template-rows: 40px 220px auto auto;
    grid-column-gap: 1%;
    transition: all 0.5s ease-in-out;
}

.MyCareer h1{
    grid-column: 1/3;
    grid-row: 1/2;  
    margin: 0;
}


@media(max-width:740px){
    .MyCareer{
        grid-template-columns: 95vw !important;
        grid-template-rows: 100px 200px 570px 350px;
    } 
    .Resize{
        display: none;
    }
}

