
.Branch{
    z-index: 0;
}

.ImgBranchUp{
    position: absolute;
    bottom: -5px;
}

.ImgBranchDown{
    position: absolute;
    top:0;
}

.Branch .ButtonTop{
    position: absolute;
    z-index: 10;
    right: -13px;
    top: 12px;
}

.Branch .ButtonBottom{
    position: absolute;
    z-index: 10;
    right: 2px;
    bottom: -1px;
}
/* 
.FlipXY{
  transform:rotateX(180deg);
  top: -5px;
}

.FlipX{
  transform: rotateX(180deg) rotateY(180deg);
  position: absolute;
  top: -5px;
} */
