.BannerLogo{
    background: linear-gradient(45deg, rgb(0, 116, 131) 0%,rgb(55, 72, 95) 40%,rgb(11, 65, 109) 99%,rgba(125,185,232,1) 100%);
    height: auto;
    padding: 50px 0;
}

.H1{
    margin: 30px 0 50px 0 ;
    font-weight: 500;
    font-size: 35px;
    color: rgb(230, 230, 230);
}
.H2{
    margin: 5px;
    font-weight: 500;
    font-size: 20px;
    color: rgb(255, 254, 254);
}