.Contact{
    display: grid;
    grid-template-columns: 30vw 400px 20vw; 
    grid-template-rows: 50px 200px 220px 80px 40px; 
    padding: 20px 20px 0 20px;
    text-align: start;
    background: #282c31;
    font-family: "Century Gothic";
    color: #f0fff0;
}

.Footer{
    grid-column: 1 / 5;
    grid-row: 5 / 6;
    width: 100vw;
    height: 40px;
    padding: 10px;
    color: #4b4e52;
    margin-left: -20px;
    text-align: center;
    background: #181818;
    box-sizing: border-box;
}
.Contact h1{
    font-size: 50px;
    margin: 0;
}

.SomeInfos{
    grid-column: 3 / 4;
    grid-row: 2 / 4;
    padding: 10px;
    margin-left: 5px;
    font-weight: 300;
    font-family: "Century Gothic";
}
.SomeInfos h3{
    font-family: "Century Gothic";
    color: rgb(0, 161, 161);
    font-weight: 300;
}

.SomeInfos h4{
     font-weight: 300;
    font-family: "Century Gothic";
}
.MyLogoRaw{
    grid-column: 1 / 2;
    grid-row: 3/ 5;
    align-self: flex-end;
}

.Social{
    grid-column: 2 / 3;
    grid-row: 4/ 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: flex-start;
}
.Social a {
    float: left;
    margin: 10px;
    transition: all 0.3s ease-in-out;
}
.Social a:hover{
    transform: translate3d(-3px, -5px, 0px)  scale(1.2);
}
.Social a svg{
    stroke:none;
    fill:#ffffff;
}

.Bar{
    grid-column: 3/4;
    grid-row: 1/5;
    width:2x;
    height: 70%;
    border-left: 1px solid rgb(100, 100, 100);
    align-self: center;
    float: left;
}
@media(max-width:950px){
    .Contact{
        display: grid;
        grid-template-columns: 40vw 50vw 0; 
        grid-template-rows: 50px 200px 220px 80px 40px; 
    }
    .SomeInfos{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .Bar{
        display: none;
    }
}
@media(max-width:712px){
    .Contact{
        display: grid;
        grid-template-columns: 80vw 0 0; 
        grid-template-rows: 50px 200px 450px  80px 200px; 
    }
    .Contact h1{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .SomeInfos{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .Social{
        grid-column: 1 / 2;
        grid-row: 4/ 5;
    }
    .MyLogoRaw{
        grid-column: 1 / 2;
        grid-row: 5/ 6;
        align-self: flex-end;
    }
    .Footer{
        grid-column: 1 / 2;
        grid-row: 6 / 7 ;
    }
}