.CommitsGraph{
    margin: 20px auto;
    width: calc(45% - 10px);
    float: right;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.267);
    border-left: 10px solid #34486ee0;
    border-right: 10px solid #2a416ca8;
    border-top: 10px solid #2a416c;
    border-bottom: 10px solid #324d80ad;
    box-sizing: border-box;
}

.Handle{
    cursor: move;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    padding: 50px 100px;
    box-shadow: 0 0 26px 5px rgba(0, 0, 0, 0.205);
    touch-action: none;
    user-select: none;
}

@media(max-width:740px){
    .CommitsGraph{
        width: 95%;
        float: none;
        height: 150px;
        margin: 0 auto;
    }
}