.NavBar{
    background-color: rgb(34, 39, 39);/* rgb(56, 56, 56);*/
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    height: 50px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
  }
  .NavBar a{
    text-decoration: none;
    color: aliceblue;
    margin: 10px;
    font-family: monospace;
    border: 3px solid rgba(35, 141, 177, 0);
    font-size: 20px;
    box-sizing: border-box;
  }
  
  .NavBar a:hover{
    /* animation: bordermove 2s ease-in-out alternate infinite; */
    /* box-shadow: 0 0 2px 2px rgb(56, 205, 255); */
    color: rgb(0, 183, 255);
  }