.CommitWrapper{
    grid-column: 1/2;
    grid-row: 2/4;
    height: 300px;
    width: 50vw;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    float: left;
    margin: 20px auto;
    height: 550px;
    background: rgba(70, 70, 70, 0.267);
    box-sizing: border-box;  
}

.CommitWrapper h2{
    margin-left:20px;
    margin-right:20px;
}
.Message{
    position: relative;
    border-bottom: 1px solid #9acd32;
    border-bottom-style: ridge;
    width: 70%;
    text-align: left;
    padding-bottom: 10px;
    font-weight: normal;
}
.Message span{
    position: absolute;
    font-size: 15px;
    bottom: -25px;
    left: 0;
}

.CommitWrapper article{
    display: block;
    background: rgba(0, 0, 0, 0.246);
    padding: 10px 20px 50px 20px ;
    text-align: left;
}

.ButtonWrapper{
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
    height: auto;
}
.ButtonWrapper button{
    border-style: none;
    background: #00000023;
    cursor: pointer;
    padding: 5px 20px;
    outline: none;
    transition: all 0.2s ease-in-out;
    
}
.ButtonWrapper button:hover{
    background: #52525238;
}
/* .ButtonWrapper button:hover::after{
   content: 'dd';
   position: absolute;
   bottom: -10px;
   left: 20px;
} */
.ButtonWrapper button:active{
    transform: translate(2px,2px);
}
@media(max-width:740px){
    .CommitWrapper{
        grid-column: 1/3;
        grid-row: 3/4;
        width: 95vw;
    }
}

@media(max-width:500px){
    .CommitWrapper h2{
        margin-top: 50px;
        font-size: 20px;
    }
}