
.Competence{
    /* background: rgb(17, 27, 56); */
    padding: 10px;
    color: peru;
    font-weight: 400;

}
.Competence ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 10px;
}

.Competence ul li {
    display: inline-block;
    margin: 20px;
    color:rgb(232, 255, 175);
}