
.Competence{
    padding: 0 5vw;
    display:grid;
    grid-template-rows: auto auto; 
    grid-template-columns:  30vw 30vw 30vw; 
}

.Basic{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.Advanced{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
.Git{
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}
.Dependencies{
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.Advanced, 
.Git, 
.Basic,{
    font-weight: 500;
    color: aliceblue;
    padding: 20px 0;
    border-radius: 30px;
}
.Dependencies{
    background: rgba(0, 0, 0, 0.13);
    border-radius: 30px;
}
.Competence h2{
    font-weight: 500;
    color: aliceblue;
    font-size: 20px;
}

.Competence ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.Competence li{
    align-self: baseline;
    margin: 0 20px;
    color:rgb(232, 255, 175);
}
