
.Competence{
    padding: 5px;
}

.Advanced, 
.Basic{
    font-weight: 500;
    color: aliceblue;
    padding: 20px 0;
    border-radius: 30px;
}
.Dependencies{
    background: rgba(0, 0, 0, 0.13);
    border-radius: 30px;
}
.Advanced h2, 
.Basic h2,
.Dependencies h2{
    font-weight: 500;
    color: aliceblue;
    font-size: 20px;
}

.Basic ul,
.Advanced  ul,
.Dependencies  ul{
    text-decoration: none;
    list-style: none;
    text-align: center;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
}

.Advanced ul li, 
.Basic ul li{
    align-self: baseline;
    margin: 0 20px;
    color:rgb(232, 255, 175);
}
.Dependencies ul li{
    align-self: baseline;
    margin: 0 20px;
    color:rgb(232, 255, 175);
}