
.GeneralInfoWrapper{
    position: relative;
    background: #282c31;
}

.GeneralInfo{
    display: grid;
    position: relative;
    grid-template-columns: auto auto; 
    grid-template-rows: 210px 230px auto; 
    margin-top:50px;
    padding-top: 50px;
    text-align: start;
    background: #282c31;
    padding-bottom: 50px;
    overflow: hidden;
    padding-bottom: 80px;
    font-family: "Century Gothic";
    background: #282c31;
}

.Gear{
    position: absolute;
    user-select: none;
    z-index: 1;
    bottom: -30%;
    right: -30%;
    animation: spin 10s infinite;
}
@keyframes spin{
    0%{ transform: rotate(0deg)}
    50%{ transform: rotate(180deg)}
    100%{ transform: rotate(360deg)}
}
.Logo{
    position: absolute;
    z-index: 1;
    top: 40px;
    left: calc(50% - 250px);
}
.Logo2{
    position: absolute;
    z-index: 1;
    left: calc(50% - 250px);
}
.Col1{
    z-index: 2;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.MyPhoto{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    z-index: 2;
    text-align: center;
    justify-self: center; /* important*/
    clip-path: circle(100px at 120px 100px);
}

.Info{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    z-index: 2;
    list-style: none;
    color: mintcream;
    justify-self: center; 
}

.Info b{
    color: rgb(255, 238, 0);
    font-size: 20px;
    z-index: 2;
    font-family: "Century Gothic";
    font-weight: 500;
}

.Info li{
    margin-left: 20px;
    margin-top: 5px; 
    z-index: 2;
}

.Info li span{
    margin-left: 20px;
    list-style: none;
    color: rgb(74, 183, 255);
    font-weight: bold;
    z-index: 2;
}


@media(max-width:985px){
    /* .GeneralInfoWrapper{
        height: calc(1700px - 50vw);
    } */
    .GeneralInfo{
        grid-template-columns: auto auto; 
        grid-template-rows: 320px 250px auto  ; 
    }
    .MyPhoto{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .Info{
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        justify-self: start;
        padding: 0; 
    }
    .Info li{
        margin-left: 0;}
    .Logo{
        top: 100px;
    }
}
@media(max-width:720px){
    .GeneralInfo{
        grid-template-columns: auto 350px; 
    }
}
@media(max-width:610px){
    .GeneralInfo{
        grid-template-columns: 0 auto; 
        grid-template-rows: 300px 230px 230px auto ; 
    }
    .MyPhoto{
        grid-column: 1 / 3;
    }
    .Info{
        grid-row: 3 / 4;
        justify-self: center;
    }
    .Logo{
        top: 20px;
    }
}

/* @media(max-width:620px){
    .GeneralInfoWrapper{
        height: calc(1900px - 50vw);
    }
} */
