.BackgroundImg {
    opacity: 0.5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;   
}


.Ul li{
    color: #00b7ff;
    font-weight: 600;
}
.Ul li ul li{
    color: #ddd;
    list-style: none;
    font-family: "Century Gothic";
    font-weight: 400;
}

.ImgCont{
    height: auto;
    padding: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-content: center;
}
.ImgCont img{
    max-width: 40%;
    margin-left: 10px;
    max-height: 50px;
}
