.TrackVertical{
   border-radius:5px !important;
   position:absolute;
   top:0;
   bottom:0;
   right:0;
   width:1vw;
   background-color:#1d1d1d00;
   transition: all 0.1s ease-in-out;
}
.TrackVertical:hover{
  background-color:#1d1d1db6;
}
.ThumbVertical{
  position:absolute;
  left: calc(50% - 0.25vw);
  width: 0.5vw;
  background-color:#328fcd;
  border-radius:5px !important;
  transition: all 0.1s ease-in-out;
}

.TrackVertical:hover .ThumbVertical, .ThumbVertical:active{
    width:1vw;
     left: calc(50% - 0.5vw); 
 }