.TrackVertical{
   border-radius:5px !important;
   bottom:2px;
   position:absolute;
   right:0px;
   top:2px;
   width:15px;
   background-color:#1d1d1db6;
  /* z-index: 3;*/
}

.ThumbVertical{
  margin: 0 auto;
  width:6px;
  background-color:#328fcd;
  border-radius:5px !important;
  transition: all 0.1s ease-in-out;
}

.TrackVertical:hover .ThumbVertical, .ThumbVertical:active{
    width:100%;
 }