.TryIt{
    cursor: pointer;
    border: 1px solid #ccc9c9;
    color: #ccc9c9;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}
.TryIt span{
    transition: all 0.3s ease-in-out;
    color: #ccc9c9;
}
.TryIt:hover span{
    color: #ffffff;
    
}
.TryIt img{
    height: 30px;
}
.TryIt:hover{
    background: #ffffff1a;
    border: 1px solid #ffffff;
}